body
{
	font-family:Open Sans,Arial;
	color:#454545;
	font-size:16px;
	margin:2em auto;
	max-width:800px;
	padding:1em;
	line-height:1.4;
	text-align:justify
}

h2
{
	margin-bottom: -0.7em;
}

.blocpage
{
	display: flex;
	flex-direction: column;
}

.petit
{
	font-size: 0.7em;
}

.petit2
{
	font-size: 0.7em;
}

.goblin
{
	float: left;
}

.wrong2
{
	font-weight: bold;
}

.logo
{
	height: 1em;
}

.wrong
{
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(255, 102, 0);
}

.mfw
{
	color: rgb(153, 51, 0);
}

.mini
{
	font-size: 0.5em;
}

.bleu
{
	color: blue;
}

.violet
{
	color: purple;
}

.colors
{
	color: fuchsia;
}