body
{
	font-family:Open Sans,Arial;
	color:#454545;
	font-size:16px;
	margin:2em auto;
	max-width:800px;
	padding:1em;
	line-height:1.4;
	text-align:justify
}

.wrong
{
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(255, 102, 0);
}

.mfw
{
	color: rgb(153, 51, 0);
}

.mini
{
	font-size: 0.5em;
}

.bleu
{
	color: blue;
}

.violet
{
	color: purple;
}

.colors
{
	color: fuchsia;
}